<div class="nav-bar">
  <div class="logo">
    <a href="/main">
      DevFlow
    </a>
  </div>
  <div class="search-bar">
    <form class="search-bar-form">
      <input style="max-width: 356px; height: 36px;" class="text-input" type="text" placeholder="Search">
      <button style="max-width: 34px; height: 36px;" type="submit">?</button>
    </form>
  </div>
  <div class="right-side-ui">
    <div class="authorization-link">
      <button class="btn btn-shadow" style="width: auto; height: 36px;">Sign In</button>
    </div>
    <div class="authorization-link">
      <button class="btn btn-shadow" style="width: auto; height: 36px;">Sign Up</button>
    </div>
    <button (click)="onSubmit()" class="btn btn-shadow" style="width: auto; height: 36px;" type="button">Profile</button>
  </div>
</div>
